.container {
  max-width: 1170px;
  margin: 0 auto; }

body {
  font-family: 'Open Sans'; }

.top-nav {
  background-color: #fff; }

.top-nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top-nav_logo-link {
  max-width: 25%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 57px; }

.logo-link_img {
  width: 100%;
  max-width: 26px;
  display: block;
  margin-right: 15px; }

.logo-link_text {
  font: 400 30px/35px 'Open Sans';
  color: #202242; }

.logo-link_text-b {
  font-weight: 700; }

.top-nav_nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 39%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 60px; }

.top-nav_elem-link {
  font-size: 16px;
  text-transform: uppercase;
  color: #202242; }

.top-nav_elem-link-active {
  color: #ffe13e; }

.top-nav_help {
  width: 28%;
  border-left: 1px solid #ccc;
  padding-left: 50px;
  padding: 40px 0 30px 32px; }
  .top-nav_help p {
    font-size: 12px;
    margin-bottom: 25px;
    font-weight: 700; }

.top-nav_help-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-nav_help-container button {
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    background-color: #ffe13e;
    cursor: pointer; }
  .top-nav_help-container .border {
    display: block;
    height: 40px;
    width: 1px;
    background-color: #ccc; }
  .top-nav_help-container .number {
    display: block;
    font-size: 24px; }

.header {
  min-height: 800px;
  background: url("../img/bg-header.jpg") center no-repeat;
  background-size: cover;
  position: relative; }

.header-intro {
  text-align: center;
  color: #fff;
  padding-top: 200px; }
  .header-intro h1 {
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 300; }
  .header-intro h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px; }

.header-form {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-form form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); }

.header_form input {
  padding: 20px 25px;
  border: none; }

.header_form select, .header_form input[type="submit"] {
  cursor: pointer; }

.header_form select {
  font-weight: 700; }

.header_form input[type="submit"] {
  color: #fff;
  background-color: #ffe13e; }

.header_form .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.header_form .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  height: 100%;
  width: 125px;
  border-right: 2px solid #fff; }

.header_form .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffe13e;
  padding: 20px; }
  .header_form .select-styled:after {
    content: "";
    width: 15px;
    height: 8px;
    background: url("../img/icons/arrow-down.png");
    position: absolute;
    top: 45%;
    right: 10px;
    -webkit-transition: .3s;
    transition: .3s; }
  .header_form .select-styled:hover {
    background-color: #ffdf34; }
  .header_form .select-styled:active, .header_form .select-styled.active {
    background-color: #ffdd25; }
    .header_form .select-styled:active:after, .header_form .select-styled.active:after {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }

.header_form .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffdd25; }
  .header_form .select-options li {
    padding: 20px 25px;
    -webkit-transition: .3s;
    transition: .3s; }
    .header_form .select-options li:hover {
      background: #fff; }
    .header_form .select-options li[rel="hide"] {
      display: none; }

.s_intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.s_intro-left,
.s_intro-right {
  width: 50vw; }

.s_intro-left {
  background-color: #202242; }

.s_intro-right {
  background-color: #ffe13e; }

.s_intro-wrapper-left,
.s_intro-wrapper-right {
  text-align: center;
  padding: 110px 0;
  max-width: 420px;
  color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .s_intro-wrapper-left h2,
  .s_intro-wrapper-right h2 {
    margin-bottom: 30px; }
  .s_intro-wrapper-left p,
  .s_intro-wrapper-right p {
    margin-bottom: 40px;
    font-size: 14px; }
  .s_intro-wrapper-left a,
  .s_intro-wrapper-right a {
    padding: 20px 55px;
    border: 3px solid #fff;
    color: #fff; }

.s_intro-wrapper-right h1 {
  font-size: 134px;
  line-height: 130px;
  color: #202242;
  margin-bottom: 88px; }

.s_intro-wrapper-left img {
  margin-bottom: 55px; }

.s_features {
  padding: 95px 0 125px;
  background: center no-repeat url("../img/icons/shape-3.png");
  background-color: #fbf8f1; }

.features_intro {
  display: block;
  text-align: center;
  color: #202242;
  margin-bottom: 90px; }
  .features_intro h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px; }
  .features_intro h4 {
    font-size: 24px;
    line-height: 1;
    font-weight: 300; }

.features-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23%;
  text-align: center; }
  .feature-item img {
    display: block;
    max-width: 128px;
    margin-bottom: 65px; }
  .feature-item h4 {
    font-size: 30px;
    color: #ffe13e;
    margin-bottom: 30px; }

.clients_first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 85px 0 60px; }

.clients_first-section_descr {
  width: 30%; }

.clients_first-section_items {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .clients_first-section_items a {
    width: 170px; }
    .clients_first-section_items a img {
      display: block;
      width: 100%; }
